---
interface Project {
    name: string;
    description: string;
    link: {
        url?: string;
        target?: string;
        title?: string;
        buttonLabel?: string;
    };
};

const projects: Project[] = [{
    name: 'Pomodoro',
    description: 'Pomodoro is a mobile app built with React Native and Expo following a Youtube tutorial. Whose objective is to use the famous Pomodoro Technique. Something extra that I have added and that was not included in the tutorial is a button to play background music, which can be activated and deactivated whenever you want. Also regarding the sound and something extra that I have added has been an alarm sound when the counter ends.',
    link: {
        url: 'https://github.com/jcpenfie/pomodoro',
    }
}, {
    name: 'Linkzipper',
    description: 'Have you ever needed to have all your social media links in one place? Linkzipper is the solution. It was my final project for my multi-platform higher degree. The design is based on another existing website called https://manylink.co/ and I have added extra things such as an option to explore and find other accounts and also if you are logged in you can save profiles by liking it.',
    link: {
        url: 'https://github.com/jcpenfie/Linkzipper-angular'
    }
}, {
    name: 'Fictional Newspaper',
    description: 'Web application to view news from a newspaper with a control panel for employees with the possibility of uploading their news. Created with Laravel and tailwind.',
    link: {
        url: 'https://github.com/jcpenfie/PeriodicoLaravel'
    }
},{
    name: 'Looking for more?',
    description: 'Do you want to see all my projects?',
    link: {
        url: 'https://github.com/jcpenfie?tab=repositories',
        buttonLabel:"See all my projects",
    },
}];
---

<div>

    <!-- <h2 class="text-2xl font-bold text-white mb-4">Latest Projects</h2> -->

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        {projects.map(project =>

            <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-slate-900">

                <h3 class="text-xl font-semibold text-white mb-2">
                    {project.name}
                </h3>

                <p class="text-gray-400">
                    {project.description}
                </p>

                {
                    project.link?.url ?
                        <a
                            href={project.link.url}
                            title={project.link.title || project.name}
                            target={project.link.target || '_blank'}
                            class="
                                w-full px-4 py-2.5 mt-4 text-center

                                border border-gray-600 rounded-lg

                                hover:text-primary
                                hover:border-primary
                            ">
                            {project.link.buttonLabel || 'Open Project Website'}
                        </a>
                    : null
                }

            </div>

        )}

    </div>

</div>
